.row {
  display: flex;
  height: 64px;
  width: 320px;
  margin: 5px;
  color: white;
}

.tile {
  width: 100%;
  border: 2px solid #565758;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  margin: 2px;
  color: inherit;
}
@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}
@keyframes shake {
  20% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  to {
    color: red;
  }
}

.animate-shake {
  animation: shake 0.4s;
}
.animate-pop {
  animation: pop 0.1s;
  border-color: #bfc1c2;
}

.sorta {
  background-color: rgb(168, 168, 8);
  animation: pop 0.3s;
}

.true {
  background-color: green;
}

.nope {
  background-color: gray;
}
