html {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: -2;
  height: 100%;
}
body {
  background: #121213;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  z-index: -2;
}
